body {
    text-align: center;
    color: #08efff;
    font-family: cursive;
}

#scwelcome {
    background: linear-gradient(#e02fd2 0%, #602e9e 100%);

}
#scabout {
    background: linear-gradient(#ff614d 0%, #f7a3f6 100%);
    color: #0800a6;
}
#screview {
    background: linear-gradient(#ff614d 0%, #f7a3f6 100%);
    color: #0800a6;
}
#scinvent {
    background: linear-gradient(#ff614d 0%, #f7a3f6 100%);
    color: #0800a6;
}
#scinspire {
    background: linear-gradient(#ff614d 0%, #f7a3f6 100%);
    color: #0800a6;
}
#scthank {
    background: linear-gradient(#ff614d 0%, #f7a3f6 100%);
    color: #0800a6;
}
#h2 {
    color: aqua
}

h1 {
    font-size: 30px;
}
#img1 {
 width: 850px;
    height: auto;
}

#sccollect {
    background: linear-gradient(#ff614d 0%, #f7a3f6 100%);
    color: #0800a6;
}
#sccontact  {
     background: linear-gradient(#ff614d 0%, #f7a3f6 100%);
    color: #0800a6;
}
#scwork {
    background: linear-gradient(#ff614d 0%, #f7a3f6 100%);
    color: #0800a6;
}
#imageME {
    margin-top: 70px;
    width: 175px;
    margin-bottom: 20px;
    border-style: solid;
    border-color: #080c4d;
    border-width: 10px;
    border-radius: 50%;
}

#p1 {
    font-size: 15px;
}

.imageSC {
    border-radius: 50%;
    width: 400px;
}

h2 {
    font-size: 40px;
    font-weight: 300px;
}
#h1 {
    font-size: 50px;
}

.menu {
    color: orange;
    width: 100%;
    background-color: cyan;
    list-style: none;
    font-family: fantasy;
    position: fixed;
    top: 0px;
    z-index: 0;
    cursor: pointer;
    text-shadow:  2px 2px gainsboro;

}

.link {
    display: inline;
    color: orange !important;
    padding-left: 33px;
    padding-right: 60px;
    font-family: fantasy;
    font-size: 20px;
    float: left;
    color: #fff;
    font-family:inherit ;
    font-size: 20px;
}
#sccontact iframe {
    width: 100%;
}
.link:hover {
    font-size: 25px;
    text-decoration:overline;
}
html {
    scroll-behavior: smooth;
}
img {
    transition: transform .2s;
}
img:hover {
    transform: scale(0.9)
}